.hero {
  position: static;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: -100;
  height: 100vh;
  background: url('../../images/breakfast-never-looked-so-tasty_4460x4460.jpg')
    no-repeat center;
  background-size: cover;
}

.hero_search_bar_container {
  min-width: 300px;
  width: 40%;
  height: 300px;
  margin: 0 auto;
}
.hero_search_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero_search_bar input {
  width: 80%;
  padding: 15px 0 15px 10px;
  border: 2px solid black;
  background: black;
  opacity: 0.8;
  color: white;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.hero_search_bar button {
  width: 20%;
  border: solid #d53032;
  border-radius: 0 10px 10px 0;
  background: #d53032;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}

.order_btn {
  position: fixed;
  display: block;
  right: 10px;
  top: 85vh;
  font-size: 24px;
  font-weight: bolder;
  padding: 20px 25px;
  background: #d53032;
  border-radius: 50%;
  z-index: 1000;
}

.fa-shopping-bag > path {
    color: #FFF;
}

.hottest_restaurants {
  background: #fff;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.hottest_restaurants h3 {
  text-align: center;
  margin-bottom: 2px;
}
.hottest_restaurants hr {
  width: 60px;
  margin: 0 auto;
  background: black;
  border: black;
  border-radius: 4px;
  height: 5px;
}

.hottest_restaurants_container {
  display: grid;
  margin: 40px 0;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.restaurant_image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.restaurant_information {
  width: 100%;
  border-top: none;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  height: auto;
}

.restaurant_name {
  font-size: 18px;
}

.restaurant_rating {
  margin-right: 5px;
}
.restaurant_categories {
  color: #757575;
  font-size: 14px;
  margin-right: 5px;
}

.fa-hashtag > path, .fa-star > path {
  color: #775577;
}

.hottest_restaurants_more_btn {
  display: block;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  margin: 20px auto;
  padding: 15px;
  background: #d53032;
}

@media(max-width: 650px) {
  .order_btn {
    top: 85%;
  }

  .hottest_restaurants {
    padding: 10px;
  }
}
